* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    /* background-color: #fff; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    height: 50px;
    margin-right: auto;
  }
  
  nav {
    margin-left: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #666;
  }
  
  
  main {
    background-image: url('images/desktop/image-hero.jpg');
    background-size: cover; 
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  
  .content-box {
   color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 40px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* second part */

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .image {
    flex-basis: 50%;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }
  
  .content {
    margin-left: 20px;
    flex-basis: 50%;
  }
  
  .content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .content p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Third part */

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
  }
  
  .see-all-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
  
  .col {
    flex-basis: 25%;
    padding: 10px;
  }
  
  .image-container {
    position: relative;
    text-align: center;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .image-text {
    position: absolute;
    top: 90%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  
  
  .footer {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-nav a {
    color: white;
    text-decoration: none;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
  }
  
  .social-media img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .copy-right {
    margin: 0;
  }
  
  
  